
.css-hxt7ib h1{
font-size:30px;
}
.streamlit-expanderHeaderst-aest-bwst-agst-ahst-aist-ajst-bxst-byst-bzst-c0st-c1st-c2st-c3st-arst-asst-c4st-c5st-b3st-c6st-c7st-c8st-b4st-c9st-cast-cbst-ccst-cd{
font-size: 20px;

}

.css-1ol163jedgvbvh9{
  font-size: 20px;                      
}
.dvn-scroller {
                 color: black;       
                 font-size: 15px;    
}


.css-hxt7ib {
  padding-top: 0rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

section.css-1dhfpht.css-1dhfpht{
  display: flex;
  flex-direction: row;
  align-items: center;
}

section.css-163ttbj.e1fqkh3o10{
  max-width:380px;
  min-width:350px;

}


/* .css-k1vhr4 {
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
  -webkit-box-align: center;
  align-items: center;
} */